.maincontainer{
    background-color: #eaeaea;
    overflow: hidden;
}

.container{
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 600px;
}

#slide{
    width: max-content;
    margin-top: 50px;
}

.item{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 10px;
}

.item:nth-child(3){
    left: 50%;
}
.item:nth-child(4){
    left: calc(50% + 220px);
}
.item:nth-child(5){
    left: calc(50% + 440px);
}
.item:nth-child(n+6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0,-50%);
    display: none;
    
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .description{
    margin: 20px 0;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(45deg, #ffffff, #ffffff, #ffffff, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.616);
}
.item button{
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.0s 1 forwards;
    font-family: 'Playfair Display', serif;
    border-radius: 5px;
}

@keyframes showcontent {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
        filter: blur(0);
    }
}

.button{
    position: absolute;
    bottom: 30px;
    z-index: 222222;
    text-align: center;
    width: 100%;
}

.button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #555;
    transition: 0.5s;
}
.buttons button:hover{
    background-color: #bac383;
}

@media screen and (max-width: 999px){
    .item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 10px;
}

.item:nth-child(3){
    left: 50%;
    display: none;
}
.item:nth-child(4){
    left: calc(50% + 220px);
    display: none;
}
.item:nth-child(5){
    left: calc(50% + 440px);
    display: none;
}
.item:nth-child(n+6){
    left: calc(50% + 660px);
    opacity: 0;
    display: none;
}
}

@media screen and (max-width: 1280px){
    .container{
        position: absolute;
        left: 50%;
        top: 6.5%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 600px;
    }
}


@media screen and (max-width: 900px){
    .container{
        position: absolute;
        left: 50%;
        top: 6%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 600px;
    }
}