*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --main-color: #121227;
    --main-white: #fff;
    --main-gold: #f0c040;
    --main-black: #000;
}

.container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
    padding: 30px 5px;
    background-color: #2a2c380a;
}